<div class='w-full relative'>
  <img
    class='absolute top-10 z-10 w-[1000px] left-0 right-0 m-auto'
    src='/logo-home.svg'
    alt='Esland - Premios y reconocimientos a la comunidad hispanohablante de streaming'
  />
  <video
    class='w-full h-screen object-cover object-top animate-fade animate-duration-1000 animate-delay-100 animate-ease-in-out'
    src='/video.mp4'
    autoplay
    loop
    muted
    style='clip-path: polygon(50% 100%, 100% 85%, 100% 0, 0 0, 0 85%);'></video>
  <video
    class='absolute -bottom-48 blur-3xl -z-40'
    src='/video.mp4'
    autoplay
    loop
    muted></video>
</div>
